<!doctype html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= adminPoll.title %></h2>
    <h2><%= adminPoll.question %></h2>
    <ul>
      <% adminPoll.responses.forEach(function(response) { %>
        <li><%= response %></li>
      <% }); %>
    </ul>
    <script src="/client.js"></script>
  </body>
</html>