<!doctype html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/navbar %>
    <p id="poll-id" hidden><%= pollData.id %></p>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <span class="poll-title center-align"><h2 style="font-weight: lighter;">"<%= pollData.title %>" Administrator Page</h2></span>
          <h4 class="center-align" style="font-weight: lighter;">Poll Topic: <%= pollData.question %></h4>
          <div id="end-time" data-time='<%= pollData.endOffset %>'>
            <h5>Poll ends <%= pollData.displayEnd %></h5>
          </div>
          <div class="row" id="closed-msg" hidden>
            <div class="center-align">
              <div class="card-panel grey darken-2">
                <span class="white-text">Poll is now closed. These are your final results:</span>
              </div>
            </div>
          </div><br>
          <div class='response-options'>
            <h4 class='center-align' style="font-family: 'Pacifico', serif;">Poll Responses:</h4>
            <table class="bordered highlight">
              <thead>
                <tr>
                  <th data-field='option'>Option</th>
                  <th data-field='votes'>Votes</th>
                </tr>
              </thead>
              <tbody>
                <% pollData.responses.forEach(function(response) { %>
                  <tr class='<%= response %>-count'>
                    <td><%= response %></td>
                    <td class="vote-count" data-response="<%= response %>"><%= pollData.responseVotes[response] %></td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          </div><br>
          <div class="links center-align">
            <h4 style="font-family: 'Pacifico', serif;">Links:</h4>
            <p id='admin-link'>Use this link to access and manage your poll options: <a href='<%= pollData.adminUrl %>'>Poll Admin Page</a></p>
            <p id='vote-link'>Share this link to let others vote: <a href='<%= pollData.voterUrl %>'>Poll Voting Page</a></p>
          </div>
          <div class='status-<%= pollData.open %> center-align'>
            <button id="close-poll" class="btn waves-effect waves-light red darken-3">Close this Poll</button>
          </div>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/jquery.js"></script>
    <script src="/client.js"></script>
    <script src="/poll-admin.js"></script>
    <% include ./partials/body-materialize %>
  </body>
</html>
