<!doctype html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/navbar %>
    <p id="poll-id" hidden><%= pollData.id %></p>
    <div class="container">
      <div class="row">
        <div class="col s12 center-align">
          <span class="poll-title"><h2 style="font-weight: lighter;">"<%= pollData.title %>"</h2></span>
          <h3 class="poll-topic" style="font-weight: lighter;"><%= pollData.question %></h3><br>
          <div class="row" id="closed-msg" hidden>
            <div class="center-align">
              <div class="card-panel grey darken-2">
                <span class="white-text">Poll is now closed. Thanks for participating!</span>
              </div>
            </div>
          </div>
          <div class="poll-choices">
            <h5 style="font-weight: lighter;">Please vote for one option:</h5>
            <% pollData.responses.forEach(function (response) { %>
              <div id='poll-responses'>
                <button class="poll-vote btn waves-effect waves-light green darken-1"><%= response %></button>
              </div><br>
            <% }) %>
            <div id='user-vote'></div><br>
          </div>
          <div class="private-<%= pollData.private %>" id="results">
            <h4 style="font-family: 'Pacifico', serif;">Poll Responses:</h4>
            <table class="bordered centered highlight">
              <thead>
                <tr>
                  <th data-field='option'>Option</th>
                  <th data-field='votes'>Votes</th>
                </tr>
              </thead>
              <tbody>
                <% pollData.responses.forEach(function(response) { %>
                  <tr class='<%= response %>-count'>
                    <td><%= response %></td>
                    <td class="vote-count" data-response="<%= response %>"><%= pollData.responseVotes[response] %></td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/jquery.js"></script>
    <script src="/client.js"></script>
    <script src="/vote.js"></script>
    <% include ./partials/body-materialize %>
  </body>
</html>