<!doctype html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= voterPoll.title %></h2>
    <h2><%= voterPoll.question %></h2>
    <div class='poll-responses'>
      <h2>Please vote for one option:</h2>
      <ul>
        <% voterPoll.responses.forEach(function(response) { %>
          <li><button class='<%= response %>'><%= response %></button></li>
        <% }); %>
      </ul>
    </div>
    <script src='/client.js'></script>
  </body>
</html>